<div class="container home-content">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Forestry Worker Job Placement
      </h1>

      <div class="intro">
        <p>This form is for forestry workers in northern-interior British Columbia. We will match workers’ needs and
          goals to services and jobs.</p>

        <br>

        <p><strong class="prefix">Time:</strong>
          The average time to complete the application form is about <strong>5 - 10 minutes</strong>. At this time, will
          need to complete your application in one session. This service will not save your information. </p>

        <p><strong class="prefix">Instructions:</strong>
          Complete the form and press submit to send your application to our Forestry Job Placement Support Team. We
          will contact you as soon as possible. Please note it may take up to 2-3 weeks for us to contact you. We will process applications in the order they are received.
        </p>

        <p><strong class="prefix">Privacy Protection:</strong>
          <br> The personal information on this form is collected by the Ministry of Labour for the purpose of Forestry
          Worker Job Placement Program under the authority of section 26 (C) and 27 (2) of The Freedom of Information
          and Protection of Privacy Act. Questions about the collection or use of this information can contact Arthi
          Reddy, Forestry Worker Job Placement Program, 778-698-1635.</p>

      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-12">
      <a class="btn btn-primary btn-lg survey-button" routerLink="qualify" tabindex="1"><strong>New User</strong> - Let’s get started</a>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-default btn-md login-button" routerLink="prv" tabindex="1">
        <strong> Let’s get started</strong><br>
      </a>
    </div>
  </div>

</div>