<div class="container home-content">
  <div class="row">
    <div class="col-md-12">
      <h1>
        Forester Job Placement
      </h1>

      <div class="intro">
        <p>This form is for forestry workers impacted by industry downturns in northern British Columbia. Our Forestry Job Support Coordinators will use this form to connect you to retraining and supports tailored to your needs and skills. </p>

      <br>

       <p><strong class="prefix">Time:</strong>
        The average time to complete the application form is about <strong>10 minutes</strong>. At this time, will need to complete your application in one session. This service will not save your information. </p>
        
        <p><strong class="prefix">Print:</strong>
        You will need to print your application to file it at Forestry Job Placement Coordination Office. We also provide an option that you can send your application to your email.</p>
        
        <p><strong class="prefix">Before you started, please read through Privacy Protection</strong>
         <br> The personal information on this form is collected by the Ministry of Labour for the purpose of Forestry Worker Job Placement Program under the authority of section 26 (C) and 27 (2) of The Freedom of Information and Protection of Privacy Act. Questions about the collection or use of this information can contact Arthi Reddy, Forestry Worker Job Placement Program, 778-698-1635.</p>
          
      </div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-md-12">
      <a class="btn btn-primary btn-lg survey-button" routerLink="qualify" tabindex="1"><strong>New User</strong> - Let’s get started</a>
    </div>
  </div> -->

  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-default btn-md login-button" routerLink="prv" tabindex="1">
        <strong> Let’s get started</strong><br>
      </a>
    </div>
  </div>

</div>
